%nav.navbar.navbar-default.navbar-admin
  %ul.nav.navbar-nav
    %li= link_to 'Admin Dashboard', admin_dashboard_path
  %ul.nav.navbar-nav.navbar-right
    %li= link_to 'Orders', admin_dashboard_path
    %li= link_to 'Items', admin_items_path
    %li= link_to 'New Item', new_admin_item_path