%header
  %span Admin Dashboard
  %span= full_name(current_user)
  %span= link_to 'Orders', admin_orders_path
  %span= link_to 'Items', admin_items_path
  %span= link_to 'New Item', new_admin_item_path